[submodule "ike-mojo"]
	path = ike-mojo
	url = https://knowledge-graphlet@github.com/knowledge-graphlet/ike-mojo.git
[submodule "rocks-kb"]
	path = rocks-kb
	url = https://github.com/knowledge-graphlet/rocks-kb.git
[submodule "ike-pom"]
	path = ike-pom
	url = https://knowledge-graphlet@github.com/knowledge-graphlet/ike-pom.git
[submodule "ike-bom"]
	path = ike-bom
	url = https://knowledge-graphlet@github.com/knowledge-graphlet/ike-bom.git
[submodule "komet-desktop"]
	path = komet-desktop
	url = https://knowledge-graphlet@github.com/knowledge-graphlet/komet-desktop.git
[submodule "rocks-jpms"]
	path = rocks-jpms
	url = https://knowledge-graphlet@github.com/knowledge-graphlet/rocks-jpms.git
[submodule "ike-maven-plugin"]
	path = ike-maven-plugin
	url = https://knowledge-graphlet@github.com/knowledge-graphlet/ike-mojo.git
